h1 {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  padding-top: 20px;
}

h2 {
  margin: 0;
  color: #fff;
}

p {
  font-size: 16px;
  line-height: 120%;
  margin: 0;
  color: #fff;
}
