.card {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
  flex: 1 1 280px;
  min-width: 240px;
  max-width: 360px;
  border-radius: 24px;
  overflow: hidden;
}

.cards {
  padding-top: 40px;
  display: flex;
  gap: 16px; /* espaço entre os cards */
  flex-wrap: wrap; /* quebra linha se não couber */
  justify-content: space-between;
}

.header {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: black;
  line-height: 120%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #ccc;
  padding: 16px;
}

.body {
  padding: 32px 16px;
  background-color: rgba(0, 0, 0, 0.5);
}
